/*****************************************/
/* Header */
/*****************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /*Ja japim height per shkak qe dona me u dok qdoher headerin edhe kru scrollim me vone.*/
  height: 9.6rem;
  padding: 0 4.6rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* Mobile */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*****************************************/
/* Sticky Navigation */
/*****************************************/

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
}

.sticky .section-hero {
  margin-top: 8rem;
}

/*****************************************/
/* Section melas - Most popular*/
/*****************************************/

.heading-section {
  margin-top: 4.8rem;
  text-align: center;
}

.heading-primary,
.heading-description {
  text-align: center;
}

.heading-primary {
  font-size: 2.4rem;
  font-weight: 700;
  color: #eb984e;
  letter-spacing: 0.2px;
}

.heading-description {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 1.8rem;
  color: #666666;
  letter-spacing: -0.5px;
}

.recipes {
  margin-top: 9.8rem;
  padding: 1.8rem;
  gap: 8rem;
}

.recipes-meal {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 10%);
  transition: all 0.5s;
  cursor: pointer;
}

.recipes-meal:hover {
  transform: translateY(-1.5rem);
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 20%);
}

.meal-img {
  width: 100%;
}

.title-description {
  padding: 0 1.6rem;
}

.meal-title {
  font-size: 1.8rem;
  color: #191919;
  font-weight: 600;
  text-align: center;
  line-height: 1.8;
  margin-top: 1.2rem;
}

.meal-description {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #666666;
  font-weight: 400;
  margin-top: 3.2rem;
}

.meal-details {
  display: flex;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.meal-details p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 400;
  color: #666666;
  margin-top: 1.2rem;
}

span {
  color: #191919;
  font-size: 1.4rem;
}

.meal-recipe:link,
.meal-recipe:visited {
  display: block;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
  text-align: center;
  text-decoration: none;
  color: #e67e22;
  font-size: 1.6rem;
  letter-spacing: -0.2px;

  transition: all 0.3s;
}

.meal-recipe:hover,
.meal-recipe:active {
  color: #cf711f;
}

/*****************************************/
/* Whats Special about OmniFood */
/*****************************************/

.section-special {
  background-color: #fdf2e9;
  padding: 6rem;
}

.omni-description {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.omni-img {
  font-size: 10rem;
  display: inline-block;
  text-align: center;
  color: #3d3d3d;
}

.omni-time {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 2;
  font-weight: 600;
  color: #191919;
}

.omni-minutes {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
  color: #333;
}

/*****************************************/
/* Footer Section*/
/*****************************************/

.footer {
  margin-top: 20rem;
  padding: 12.8rem 4.8rem;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.adress {
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
